@media (min-width: $tablet-landscape) {
  .app-promo {
    position: relative;
    margin: 0 10px 150px;
    padding: 55px 0 70px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 10px 52px 0 rgba(0,0,0,0.21);

    &__picture{
      display: block;
      width: 100%;
      margin-bottom: 23px;
      padding-left: 20px;

      img{
        display: block;
        width: 100%;
        height: auto;
      }

    }

    &__layout{
      margin-top: -164px;
    }

    &__text{
      margin-bottom: 35px;
      padding: 0 30px;

      h2{
        margin-bottom: 30px;
      }

    }

    &__download{
      display: block;
      width: 187px;
      height: 64px;
      margin: 0 auto;

      svg{
        width: 100%;
      }

    }

  }
}
@media (min-width: $desktop) {
  .app-promo {

    &__download {

      svg {
        transform: translateZ(0);
        transition: transform .3s ease;
      }

      &:hover svg {
        transform: scale(1.05) translateZ(0);
      }

    }

  }
}