.hero-story {
  position: relative;
  margin-bottom: 70px;
  padding: 250px 10px 0;

  &__wrap {
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 10px 52px 0 rgba(0, 0, 0, 0.21);
    z-index: 1;
    overflow: hidden;

    h1{
      position: relative;
      margin-bottom: 33px;

      &:after {
        position: absolute;
        bottom: -15px;
        left: calc( 50% - 28px);
        width: 56px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        content: '';
      }

    }

  }

  &__picture{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 300px;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
    }

  }

  &__content{
    padding: 30px 25px;
    text-align: center;
  }

  &__time-characteristics{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 36px;
    padding-left: 5px;
    text-align: left;

    svg{
      margin-top: 6px;
      width: 26px;
      height: 26px;

      g{
        fill: #878787;
      }

    }

    dl{
      width: calc( 33.333% - 23.666px );
      max-width: 150px;
      margin-left: 15px;
      font-size: 14px;
      line-height: 19px;
    }

    dt{
      @include roboto-regular;
      letter-spacing: .5px;
    }

    dd{
      @include roboto-medium;
      letter-spacing: .5px;
    }

  }

  &__back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 150px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    overflow: hidden;

    img{
      display: block;
      width: 100%;
    }

  }

}
@media (min-width: $phone-landscape) {
  .hero-story {

  }
}
@media (min-width: $tablet-portrait) {
  .hero-story {
    margin-bottom: 40px;
    padding-top: 240px;

    &__wrap {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;

      h1{

        &:after {
          left: 0;
        }

      }

    }

    &__picture{
      max-height: 100%;
      width: 46%;
      max-width: 454px;
    }

    &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 53%;
      max-width: 495px;
      padding: 30px 40px 30px 57px;
      text-align: left;
    }

    &__time-characteristics{
      margin-top: 29px;
      padding-left: 0;

      svg{
        margin-right: 30px;
      }

      dl{
        width: calc( 33.333% - 26px);
        margin-left: 0;
        padding-right: 10px;
      }

    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero-story {

    &__wrap {
      max-width: 1000px;
      margin: 0 auto;
    }

  }
}
@media (min-width: $desktop) {
  .hero-story {

    &__back{
      max-width: 1200px;
    }

  }
}

