.popup__thanks {
  width: 100%;
  max-width: 1000px;
  padding: 69px 20px 55px;
  border-radius: 8px;
  background-color: #fff;

  &-text{
    max-width: 655px;
    margin: 0 auto 30px;
    color: #878787;
    font-size: 18px;
    line-height: 30px;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;

    svg{
      display: block;
      max-height: 60px;
      max-width: 60px;
      margin: 0 auto 30px;
    }

    h1, h2{
      position: relative;
      margin-bottom: 33px;

      &:after {
        position: absolute;
        bottom: -15px;
        left: calc( 50% - 28px);
        width: 56px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        content: '';
      }

    }

  }

  .btn{
    max-width: 260px;
    margin: 0 auto;
    @include roboto-regular;
    font-size: 14px;
    text-transform: uppercase;
  }

}
@media (min-width: $phone-landscape) {
  .popup__thanks {

  }
}
@media (min-width: $tablet-portrait) {
  .popup__thanks {

  }
}
@media (min-width: $tablet-landscape) {
  .popup__thanks {

  }
}
@media (min-width: $desktop) {
  .popup__thanks {

  }
}